:root {
  --text-color: rgb(255,179,0);
  --text-shadow: 0 0 10px var(--text-color);
  --text-shadow: 0 0 10px color-mix(in srgb, var(--text-color), rgb(0, 0, 0) 10%);
  --primary: #7a7466;
  --highlight: #00d4ff;
  --input-box: #1e1e1e;
  --text: #e6e6e6;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

body {
  color: var(--text);
  font-family: "Consolas", "Courier New", monospace;
  text-align: center;
  padding-top: 50px;
}

/*style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: var(--input-box); border: 2px solid var(--highlight); padding: 20px; z-index: 1000;*/
/*TODO*/

.settings-menu {
  position: fixed;
  top: 20%;
  right: 20%;
  transform: translate(-50%, -50%);
  background-color: var(--highlight);
  border-radius: 8px;
  padding: 10px 20px;
  display: none;
  z-index: 20;
}

p {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}

input {
  font-family: 'Cascadia Code', monospace;
  background-color: var(--input-box);
  color: var(--text);
  border: 2px solid var(--highlight);
  font-size: 0.8rem;
}

button {
  background-color: var(--highlight);
  border: none;
  padding: 3px 25px;
  font-size: 0.9rem;
  border-radius: 0;
  cursor: pointer;
  color: #000;
  transition: 0.2s ease;
}

button:hover {
  background-color: hsl(from var(--highlight) h s calc(1 - 10%));
  transform: scale(1.05);
}

#output {
  text-align: left;
  font-family: 'Cascadia Code', monospace;
  margin: 25px auto 0 auto;
  width: 80vw;
  height: 60vh;
  background-color: #1e1e1e;
  border: 2px solid var(--highlight);
  border-radius: 8px;
  padding: 10px;
  overflow-y: auto;
  color: var(--text);
  position: relative; /* REQUIRED */
  line-height: 1.2;
  white-space: pre-wrap;
}
